#u10361
{
	border-style: none;
	border-color: transparent;
	position: relative;
	background: #FFFFFF url("../images/sombra.png") no-repeat center center;
}

#u9695
{
	border-color: #000000;
	background-color: #D75A26;
	position: relative;
}

#u7814-4
{
	border-style: none;
	border-color: transparent;
	font-size: 30px;
	color: #000000;
	line-height: 0.8;
	letter-spacing: 1px;
	text-align: right;
	font-family: lato, sans-serif;
	font-weight: 900;
	position: relative;
	background: transparent url("../images/sth-logo.png") no-repeat center center;
	background-size: contain;
}

#u7793-6
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1;
	color: #999999;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u7766
{
	border-style: none;
	border-color: transparent;
	background-color: #888381;
	-moz-border-radius: 0px 10px 10px 0px ;
	-webkit-border-radius: 0px 10px 10px 0px ;
	-khtml-border-radius: 0px 10px 10px 0px ;
	border-radius: 0px 10px 10px 0px ;
	position: relative;
}

#u7790,#u10294,#u7768,#u7787,#u7773,#u7782
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 18px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
}

#u7792-4,#u10296-4,#u7770-4,#u7786-4,#u7772-4,#u7781-4
{
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	line-height: 1.4;
	font-size: 18px;
	color: #FFFFFF;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	border-width: 0px 0px 1px;
}

#u10522
{
	position: absolute;
}

#u10523
{
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	-moz-border-radius: 15px 15px 0px 15px ;
	-webkit-border-radius: 15px 15px 0px 15px ;
	-khtml-border-radius: 15px 15px 0px 15px ;
	border-radius: 15px 15px 0px 15px ;
	position: relative;
}

#u10524-5
{
	background-color: transparent;
	line-height: 1.4;
	font-size: 14px;
	color: #000000;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
}

#u10524-2
{
	font-weight: normal;
}

#accordionu7764wrapper,#pamphletu10511,#u10512
{
	position: relative;
}

#u10514
{
	position: absolute;
	border-color: #7F7F7F;
	background-color: transparent;
}

#u10514:hover
{
	border-style: none;
	border-color: transparent;
}

#u10514:active
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u10514.PamphletThumbSelected
{
	border-color: #7F7F7F;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
}

#u10541-4
{
	background-color: #EBAC92;
	background-color: rgba(215, 90, 38, 0.5);
	-moz-border-radius: 0px 0px 10px 10px ;
	-webkit-border-radius: 0px 0px 10px 10px ;
	-khtml-border-radius: 0px 0px 10px 10px ;
	border-radius: 0px 0px 10px 10px ;
	line-height: 1.4;
	color: #000000;
	text-align: center;
	font-weight: bold;
	position: relative;
	-pie-background: rgba(215, 90, 38, 0.5);
}

#u10514.PamphletThumbSelected #u10541-4
{
	background-color: #EBAC92;
	background-color: rgba(215, 90, 38, 0.5);
	-moz-border-radius: 0px 0px 10px 10px ;
	-webkit-border-radius: 0px 0px 10px 10px ;
	-khtml-border-radius: 0px 0px 10px 10px ;
	border-radius: 0px 0px 10px 10px ;
	-pie-background: rgba(215, 90, 38, 0.5);
}

#u10514.PamphletThumbSelected #u10541-4 p,#u10514.PamphletThumbSelected #u10541-4 span
{
	text-align: center;
	text-decoration: underline;
	font-size: 14px;
}

.AccordionPanelTab,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* accordion */
{
	cursor: pointer;
}

#u7765,#u10091
{
	background-color: transparent;
	position: relative;
}

#u10113-6
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1;
	color: #999999;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u7793,#u10113
{
	font-size: 1px;
	line-height: 0px;
}

#u7795,#u10115
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-size: 30px;
}

#u10092
{
	border-style: none;
	border-color: transparent;
	background-color: #888381;
	-moz-border-radius: 10px 10px 0px 0px ;
	-webkit-border-radius: 10px 10px 0px 0px ;
	-khtml-border-radius: 10px 10px 0px 0px ;
	border-radius: 10px 10px 0px 0px ;
	position: relative;
}

#u10102-4
{
	border-style: none;
	border-color: transparent;
	background-color: #D75A26;
	-moz-border-radius: 10px 10px 0px 0px ;
	-webkit-border-radius: 10px 10px 0px 0px ;
	-khtml-border-radius: 10px 10px 0px 0px ;
	border-radius: 10px 10px 0px 0px ;
	line-height: 1.4;
	font-size: 18px;
	color: #FFFFFF;
	text-align: center;
	font-weight: bold;
	position: relative;
}

#accordionu7764,#u7789,#u10293,#u7767,#u7785,#u7771,#u7780,#accordionu10090,#u10101,#u10093
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u10103,#u10094
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 18px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
}

#u10096-4
{
	border-style: none;
	border-color: transparent;
	background-color: #D75A26;
	-moz-border-radius: 10px 10px 0px 0px ;
	-webkit-border-radius: 10px 10px 0px 0px ;
	-khtml-border-radius: 10px 10px 0px 0px ;
	border-radius: 10px 10px 0px 0px ;
	line-height: 1.4;
	font-size: 18px;
	color: #FFFFFF;
	text-align: center;
	font-weight: bold;
	position: relative;
}

#u10102-4:hover,#u10096-4:hover
{
	background-color: #888381;
}

#u10586
{
	border-color: #000000;
	background-color: #C3C1C0;
	background-color: rgba(136, 131, 129, 0.5);
	position: relative;
	-pie-background: rgba(136, 131, 129, 0.5);
}

#u10563-4
{
	background-color: #EBAC92;
	background-color: rgba(215, 90, 38, 0.5);
	-moz-border-radius: 0px 0px 10px 10px ;
	-webkit-border-radius: 0px 0px 10px 10px ;
	-khtml-border-radius: 0px 0px 10px 10px ;
	border-radius: 0px 0px 10px 10px ;
	font-size: 14px;
	text-align: center;
	font-weight: bold;
	position: relative;
	-pie-background: rgba(215, 90, 38, 0.5);
}

#u10563-4.MuseLinkActive
{
	background-color: #EBAC92;
	background-color: rgba(215, 90, 38, 0.5);
	-moz-border-radius: 0px 0px 10px 10px ;
	-webkit-border-radius: 0px 0px 10px 10px ;
	-khtml-border-radius: 0px 0px 10px 10px ;
	border-radius: 0px 0px 10px 10px ;
	-pie-background: rgba(215, 90, 38, 0.5);
}

#u10563-4.MuseLinkActive p,#u10563-4.MuseLinkActive span
{
	text-align: center;
	text-decoration: underline;
	font-size: 14px;
	font-weight: bold;
}

#u10541,#u10563
{
	text-decoration: underline;
}

